<%- include('partials/header') %>
<link rel="stylesheet" href="/css/destinationsStyle.css">

<h1 class="destination__title">Destinations</h1>

<% for(let result of results) { %>

    <a class="destination__article" href="/destination/<%= result.destination %>">
        <h1><%= result.destination %></h1>
    </a>
    <% } %>

<%- include('partials/footer') %>