<%- include('partials/header') %>
<link rel="stylesheet" href="/css/destinationsStyle.css">

<h1 class="destination__title">Destination</h1>

<% for(let flight of results) { %>

    <a class="destination__article" href="/destination/<%= flight.id %>">
        <h1><%= flight.destination %></h1>
    </a>
    <% } %>

<%- include('partials/footer') %>